<p>Filter by</p>
<br>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Technology</label>
      <input type="text" class="myInput" placeholder="search a name..." >
      
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">skill</label>
        <input type="text" class="form-control" >
        
      </div>
    <label for="customRange2" class="form-label">Total Experience</label>
    <input type="range" class="form-range" min="0" max="20" id="customRange2">

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">location</label>
      <input type="text" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-outline-primary ">cancel</button>
    <button type="submit" class="btn btn-primary">Done</button>
  </form>
